
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,body, #root{
  width:100%;
  height: 100%;
  color:black;
  background-color: rgb(255, 255, 255);
}

@font-face {
  font-family: gillroy-bold;
  src: url('./Fonts/gilroy-bold/Gilroy-Bold.ttf');
}
@font-face {
  font-family: gillroy-medium;
  src: url('./Fonts/gilroy-bold/Gilroy-Medium.ttf');
}
@font-face {
  font-family: gillroy-light;
  src: url('./Fonts/gilroy-bold/Gilroy-Light.ttf');
}

@font-face {
  font-family: gillroy-regular;
  src: url('./Fonts/gilroy-bold/Gilroy-Regular.ttf');
}
.main{
  padding:  1rem 6rem;
}

.main h4{
  font-family: gillroy-bold;
  font-size: 1.3rem;
}


.navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;

}


.navbar h2{
  font-family: gillroy-bold;
  font-size: 3rem;

}


.list-items{
  list-style-type: none;
  display: flex;
  cursor: pointer;
  gap: 2rem;
  font-family: gillroy-medium;
}

.list-items a{
  text-decoration: none;
  color: black;
}

.shimmer-container{
  display: flex;
  flex-direction: column;
  width:100%;
  height: 90vh;
  gap: 1rem;
  position: relative;
}
.top-part{
  height: 30vh;
  background-color: rgba(130, 130, 130, 0.189);
  position: relative;
}
.bottom-part{
  flex:1;
  padding: 1rem;
  display: flex;
  gap: 2rem;
  justify-content: space-evenly;

}
.top-part h3{
  font-family: gillroy-bold; 
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%, -50%);
  color:rgb(77, 74, 74);
}

.bottom-part .cards{
  width:250px;
  height: 300px;
  backdrop-filter: blur(14px);
  -webkit-backdrop-filter: blur(14px);
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.6);
  box-shadow:
    0 10px 30px rgba(0, 0, 0, 0.044),
    inset 0 0 20px rgba(255, 255, 255, 0.4);
  padding: 1rem;

  
}



.bottom-part .cards .box{
  width:100%;
  height: 120px;
  background-color: rgba(174, 171, 171, 0.121);
  border-radius: 1px;

  margin-bottom: 1rem;
}

.bottom-part .cards h1{
  width:70%;
  height: 20px;
  background-color: rgba(174, 171, 171, 0.121);

  margin-bottom: 1rem;
}
.bottom-part .cards h2{
  width:40%;
  height: 20px;
  background-color: rgba(174, 171, 171, 0.121);
}

.restaurant-cards{
  width:100%;
  height: auto;
  display: flex;
  gap: 1rem;
  row-gap: 3rem;
  flex-wrap: wrap;

}
.restaurant-cards a{
  color:black;
  text-decoration: none;
}

.restaurant-cards .res-cards{
  width:280px;
  height: auto;
  border-radius: 20px;
  flex-grow: 1;
  flex-shrink: 0;

}

.restaurant-cards .res-cards img{
  width:100%;
  height: 200px;
  object-fit: cover;
  object-position: center;
}


.restaurant-cards .res-cards h2{
  font-family: gillroy-bold;
  font-size: 1.2rem;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap; 
      
  overflow: hidden;   
  text-overflow: ellipsis;

}
.restaurant-cards .res-cards p{
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap; 
}

.rating-container{
  display: flex;
  gap: .5rem
}

.rating-container .icon{
  width:20px;
  height: 20px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: green;
  border-radius: 50%;
}
.rating-container .star-icon{
  color:white;
}
.rating-container .time{
  font-size: 1rem;
}
.filter{
  display: flex;
  margin-bottom: 1rem;
}


.filter button{
  font-size: 1rem;
  padding: .5rem 1rem;
  
}
.body{
  margin-top: 3rem;
}

.filter-section{
  
  width:100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}
.search-section input{
  border:none;
  background-color: rgba(0, 0, 0, 0.136);
  color:rgb(17, 16, 16);
  font-size: 1rem;
}
.search-input{
  padding: .6rem 1rem;
  width:250px;
}
.search-input:focus{
  outline: none;
}
.res-info{
  padding-top: 5rem;
  max-width: 900px;
  margin: 0 auto;
}

.res-info .res-name{
  font-family: gillroy-bold;
  font-size: 2rem;
}
.dine-out{
  display: flex;
  gap: 1rem;
}
.dine-out h5{
  font-size: 1rem;
}
.dine-out h5:hover{
  text-decoration: underline;
  text-decoration-color: red;
  text-underline-offset: 5px;
  text-decoration-thickness: 4px;
  transition: all 0.9s ease;
}
.res-info-card{
  margin-top: 1rem;
  width:100%;
  height: 170px;
  border:1px solid red;

  background: rgba(0, 0, 0, 0.06);

  border-radius: 18px;
  border: 1px solid rgba(0,0,0,0.08);
  box-shadow:
    0 8px 20px rgba(0,0,0,0.25);

  transform: translateY(-4px);

}
.res-info-card .rating-container{
 display: flex;
 align-items: center;
}

.res-info-card{
  display: flex;
  flex-direction: column;
  gap: .2rem
}

.res-info-card .rating-container{
 padding-left: 1rem;
 padding-top: 1rem;
}
.res-info-card .rating-container h4{
  font-family: gillroy-medium;
  font-size: 1rem;
}

.res-info-card h5{
  text-decoration:  underline;
  color:rgb(212, 17, 17);
  font-family: gillroy-bold;
  text-underline-offset: 2px;
  font-size: .9rem;
  padding-left: 1rem;
}

.outlet-info h5{
  color:black;
  text-decoration: none;
  font-size: .8rem;
  font-family: gillroy-medium;
}
.outlet-info span{
  color:grey;
}
.delivery-time-container{
  margin-bottom: .5rem;
}
.image-container{
  display: flex;
  align-items: center;
  padding-left: 1rem;
  gap: .5rem;
  padding-top: .5rem;
}
.image-container img{
  width:50px;
  height: 18px;
}
.image-container p{
  color:red;
  font-family: gillroy-medium;
  font-size: .8rem;
}


@media(max-width: 450px){
  .desktop-only{
    display: none;
  }
  .main{
    padding: 1rem;
  }
  .navbar h2{
    font-size: 2rem;
  
  }
  .bottom-part{
    width:100%;
    
  }
  .bottom-part .cards{
    width:100%;
    height: 300px;
  }
  .filter-section{
    flex-direction: column;
    gap: 1rem;
    width:100%;
    margin-bottom: 1rem;
  }
  .filter-section .search--section{
    width:100%;
  }
  .filter{
    width:100%;
  }
  .filter button{
    width:100%;
  }

  
}

