
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,body, #root{
  width:100%;
  height: 100%;
  color:black;
  background-color: rgb(255, 255, 255);
}

@font-face {
  font-family: gillroy-bold;
  src: url('./Fonts/gilroy-bold/Gilroy-Bold.ttf');
}
@font-face {
  font-family: gillroy-medium;
  src: url('./Fonts/gilroy-bold/Gilroy-Medium.ttf');
}
@font-face {
  font-family: gillroy-light;
  src: url('./Fonts/gilroy-bold/Gilroy-Light.ttf');
}

@font-face {
  font-family: gillroy-regular;
  src: url('./Fonts/gilroy-bold/Gilroy-Regular.ttf');
}
.main{
  padding: 1rem;
}

.main h4{
  font-family: gillroy-bold;
  font-size: 1.3rem;
}


.navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.navbar h2{
  font-family: gillroy-bold;
  font-size: 3rem;

}
.nav-right{
  display: none;
  gap: 3rem;
}

.nav-right li{
  list-style-type: none;
  display: inline-flex;
  gap: .2rem;
}

