
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,body, #root{
  width:100%;
  height: 100%;
  color:black;
  background-color: rgb(255, 255, 255);
}

@font-face {
  font-family: gillroy-bold;
  src: url('./Fonts/gilroy-bold/Gilroy-Bold.ttf');
}
@font-face {
  font-family: gillroy-medium;
  src: url('./Fonts/gilroy-bold/Gilroy-Medium.ttf');
}
@font-face {
  font-family: gillroy-light;
  src: url('./Fonts/gilroy-bold/Gilroy-Light.ttf');
}

@font-face {
  font-family: gillroy-regular;
  src: url('./Fonts/gilroy-bold/Gilroy-Regular.ttf');
}
.main{
  padding: 1rem;
}

.main h4{
  font-family: gillroy-bold;
  font-size: 1.3rem;
}


.navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.navbar h2{
  font-family: gillroy-bold;
  font-size: 3rem;

}
.nav-right{
  display: none;
  gap: 3rem;
}

.nav-right li{
  list-style-type: none;
  display: inline-flex;
  gap: .2rem;
}

.nav-right p:hover {
  color:red;
}
.header-data{
  padding: 2rem 0rem;
}

.header-data .all-cards{
  display: grid;
  grid-template-columns: repeat(20, 1fr);
  gap: 1rem;
  overflow-x: auto;
  margin-bottom: 5rem;
}

.header-data .all-cards .card{
  width: 150px;
  height: 160px;
  flex-grow: 1;
  flex-shrink: 0;
}

.header-data .all-cards .card .header-image{
  width:100%;
}

.header-data .all-cards::-webkit-scrollbar,
.top-restaurant-data .fetch-restaurant-cards::-webkit-scrollbar, 
.fetch-online-restaurant-cards::-webkit-scrollbar{
  display: none;
}

.top-restaurant-data h4{
  margin-bottom: 1rem;
}

.top-restaurant-data .fetch-restaurant-cards {
  display: grid;
  grid-template-columns: repeat(20, 1fr);
  overflow-x: auto;
  gap: 2rem;

}

.top-restaurant-data .fetch-restaurant-cards .res-cards{
  width: 280px;
  height: auto;

}
.top-restaurant-data .fetch-restaurant-cards .res-cards .res-image{
  width: 100%;
  height: 200px;
  object-fit: cover;
  object-position: center;
  border-radius: 20px;

}

.top-restaurant-data .fetch-restaurant-cards .res-cards .item-name{
  font-family: gillroy-bold;
  font-size: 1.1rem;
}
.rating-container{
  display: flex;
  gap: .5rem
}


.rating-container p:first-child{
  background-color: green;
  width: max-content;
  border-radius: 50%;
  width:22px;
  height: 22px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
.rating-container i{ 
  color:white;
  font-size: .9rem;
}

.rating-container p{
  font-family: gillroy-regular;
}

.rating-container .dlv-time{
  font-family: gillroy-medium;
}

.cuisines-container{
  display: flex;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  gap: .3rem;

}
.cuisines-container p{
  width: max-content;
  color:grey
}
.areaname{
  color: grey;
}
.fetch-online-restaurant-cards{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: space-between;
  overflow-x: auto;
  gap: 1rem;
}


.online-res-cards{
  width: 320px;
  height: auto;
  
}
.online-res-cards .res-image{
  width:100%;
  height: 220px;
  object-fit: cover;
  object-position: center;
  border-radius: 15px;
}






@media(min-width:1000px){
  .main{
    padding: 1rem 10rem;
  }
  .nav-right{
    display: flex;
  }
}